
<!DOCTYPE html>
<html>
<head>
<style>
table, tr, td {
  border:1px solid black;
  border-collapse: collapse;
}
</style>
</head>
<body>

<p>Seja bem vindo ao Ecommerce [Nome]</p>
<p>Segue abaixo os dados de acesso que você cadastrou:</p>
<table width="100%", border="1">
  <tr>
    <th>Login</th>
    <td>[Email]</td>
  </tr>
  <tr>
    <th>Senha</th>
    <td>[Senha]</td>
  </tr>
</table>
</body>
</html>
